* {
    /*sets box sizing to border box to prevent overflow display*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    /*prevents images from overflowing in display*/
    max-width: 100%;
}

body {
    /*sets background color and font family for body*/
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    /*adds padding to the header, sets font family for header, sets background and text colors*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /*sets display to inline block to prevent header text from stacking. sets font size to 48px*/
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    /*sets text color*/
    color: #d9dcd6;
}

.header nav {
    /*adds space around header nav, keeps text to the right, sets font size t0 20px*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    /*removes markers from list*/
    list-style-type: none;
}

.header nav ul li {
    /*lays header nav out to prevent stacking, adds space to left side of each nav item*/
    display: inline-block;
    margin-left: 25px;
}

a {
    /*sets text color and removes underline*/
    color: #ffffff;
    text-decoration: none;
}

p {
    /*sets font size to 16px*/
    font-size: 16px;
}

.hero {
    /*sets hero image sizing, keeping image proportions to not distort*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

.float-left {
    /*floats element to the left of adjacent elements*/
    float: left;
    margin-right: 25px;
}

.float-right {
    /*floats element to the right of adjacent elements*/
    float: right;
    margin-left: 25px;
}

.content {
    /*sets width of content to 75% of the display, allows block to lay inline with benefits section, pushing content to the left of the display*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /*sets content to the right of the display. Sets width of content to 20% of the display, allows block to lay inline with content section. Sets background color*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit {
    /*adds space to the bottom of the display. sets text color.*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    /*adds space to the bottom of the display. centers text alignment.*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    /*sets image to block, adds space around image and centers depending on display, sets max width to 150px.*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-card {
    /*adds space to the bottom and inside of the card. Sets height to 300px, sets background color and text color*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.content-card img {
    /*sets max height to 200px*/
    max-height: 200px;
}

.content-card h2 {
    /*adds space to the bottom of the card, sets font size to 36px*/
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    /*adds padding to the footer, moves footer to the bottom of the display below the floating elements. Sets fonts and text alignment to center*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    /*Sets font size in footer to 20px*/
    font-size: 20px;
}
